.web_header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    height: 50px;
    width: 120px;
    background-image: url('images/logo.png');
    background-size: cover;
    margin: 10px 0;
}